/* 纸张护眼色主题 */
html.theme-frame {
  --primary-color: #4d8077;
  --secondary-color: #5b6c5d;
  --background-color: #f5f5dc; /* 经典米色 */
  --background-color-1: #fbfbf2;
  --background-color-2: #f2f2e8;
  --background-color-3: #e6e6d1;
  --text-color: #3c3c3c;
  --text-color-1: #5a5a5a;
  --text-color-2: #787878;
  --text-color-3: #969696;
  --placeholder-color: #a8a8a8;
  --border-color: #d9d9c6;
  --border-color-1: #cccbba;
  --border-color-2: #bfbead;
  --hover-color: rgba(77, 128, 119, 0.1);
  --hover-background-color: rgba(77, 128, 119, 0.05);
  --active-color: rgba(77, 128, 119, 0.2);
  --active-line-color: rgba(77, 128, 119, 0.15);
  --selected-color: rgba(60, 60, 60, 0.7);
  --selected-background-color: rgba(91, 108, 93, 0.2);
  --primary-color-transparent: rgba(77, 128, 119, 0.25);
} 