/* 暖色主题 */
html.theme-frame-dark {
  --primary-color: #e3a76f;
  --secondary-color: #d88c66;
  --background-color: #2d2d2d;
  --background-color-1: #383838;
  --background-color-2: #444444;
  --background-color-3: #505050;
  --text-color: #e6e1dc;
  --text-color-1: #d2cdc8;
  --text-color-2: #beb9b5;
  --text-color-3: #a5a2a0;
  --placeholder-color: #969390;
  --border-color: #4d4d4d;
  --border-color-1: #5a5a5a;
  --border-color-2: #676767;
  --hover-color: rgba(227, 167, 111, 0.15);
  --hover-background-color: rgba(227, 167, 111, 0.1);
  --active-color: rgba(227, 167, 111, 0.25);
  --active-line-color: rgba(227, 167, 111, 0.2);
  --selected-color: rgba(230, 225, 220, 0.8);
  --selected-background-color: rgba(216, 140, 102, 0.4);
  --primary-color-transparent: rgba(227, 167, 111, 0.25);
} 