* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color-2);
}
.milkdown {
  height: 100%;
  .editor {
    height: 100%;
    .milkdown-image-block {
      height: 100%;
      .image-wrapper {
        height: 100%;
      }
    }
  }
}
.editor-container {
  border: none !important;
  border-radius: 0 !important;
}
.cm-gutters {
  background-color: var(--background-color-2) !important;
  border-right: none !important;
}
.cm-activeLine,
.cm-activeLineGutter {
  background-color: var(--active-line-color) !important;
}
.cm-content {
  background: var(--background-color-2);
  .cm-line::selection {
    background: var(--selected-background-color) !important;
    color: var(--selected-color);
  }
}
.ProseMirror-focused.ProseMirror .prosemirror-virtual-cursor {
  --prosemirror-virtual-cursor-color: #73777f;
  border-left: 2px solid var(--prosemirror-virtual-cursor-color);
  animation: prosemirror-virtual-cursor-blink 1s linear infinite;
  animation-delay: 0.1s;
  transform: translateX(1px);
}
@keyframes prosemirror-virtual-cursor-blink {
  0%,
  100% {
    opacity: 1 !important;
  }
  50% {
    opacity: 0;
  }
}
.milkdown .milkdown-image-block > .image-wrapper img {
  max-height: 100%;
}
.milkdown-block-handle {
  top: -100px;
}
.link {
  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.2s linear;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  height: 0 !important;
}
@keyframes fade-in {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
